{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет, я автор</h1>
  <p>
    Меня зовут Настя, мне 29, и я ничего не успеваю!
  </p>
  <img src="{% static 'img/author.jpg' %}">
  <p>
    Так много интересного на этом курсе, особенно в этом спринте. Кажется, всё поняла, но это не точно. В голове каша, но разложеная по полочкам.<br>
    Я обязательно вернусь к этой странице  сделаю тут всё красиво. Пока просто пара абзацев и фото.
  </p>
{% endblock %} 