{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}

<div class="row">
  <h1>Вот что я умею</h1>  
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>  
  <article class="col-12 col-md-9">
    <p>
      Здесь я обязательно расскажу о том,чему учуусь, что поняла, а что не очень.<br>
      Займусь этим после первых правок ревью, сейчас хочу скорее отправить работу на проверку, т.к. немного уже отстаю.
    </p>
  </article>
</div>
{% endblock %} 